h1 {
    text-align: center;
}

p {
    text-align: center;
}

hr {
    border: none;
    height: 2px;
    background-color: black;
    margin: 10px auto;
}

a {
    text-decoration: none;
    color: black;
}

.header_menu{
    text-align: center;
}

button {
    display: inline-block;
    background-color: rgb(40, 172, 208);
    border: 0px;
    margin: 0 5%;
    padding: 0.5%;
}

button:hover {
    color: white;
    background-color: rgb(33, 113, 159);
}

.underline {
    position: relative;
    display: inline-block;
}

.underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #007bff;
}

#banner {
    height: 107px;
    background:url(../images/Background.jpeg) repeat-x;
}

#content {
    background:
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    margin-top: 40px;
}

/* Fake 3D portrait box like screenshot */
.portrait-box {
    width: 350px;
    height: 350px;
    background: #1b4e62;
    border: 2px solid black;
    position: relative;
    padding: 30px;
}

.portrait-inner {
    width: 100%;
    height: 100%;
    background: #0e5977;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Text section */
.text-section {
    width: 350px;
}

.text-section p {
    text-align: left;
    font-size: 18px;
}

.text-section h2 {
    margin-bottom: 10px;
}
