h1 {
    text-align: center;
    font-family: "Ebrima", Ebrima;
    color: white;
}

h2 {
    text-align: center;
    font-family: "Ebrima", Ebrima;
    color: white;
    padding: 0 40px;
}

p {
    text-align: center;
    font-family: "Ebrima", Ebrima;
    font-weight: normal;
    color: rgb(85, 100, 88);
    padding: 0 40px;
    padding-bottom: 10px;
    line-height: 2;
}

title {
    text-align: center;
    font-family: "Ebrima", Ebrima;
    color: white;
}

hr {
    border: none;
    height: 2px;
    background-color: black;
    margin: 10px auto;
}

a {
    text-decoration: none;
    padding: 0 20px; 
    color: white;
}

.responsive {
   width: 125px;

}
.header_menu{
    text-align: center;
}

.dropdown {
    position: relative;   
    display: inline-block;
    padding: 5px 5%;
}

.dropdown-content{
    display: none;
    padding: 5px 0px;
    margin: 0px 40%;
    width: 100px;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 9999;
    background-color: rgb(130, 186, 138);
}

.dropdown:hover .dropdown-content{
  display: block;
}

button {
    display: inline-block;
    font-family: "Ebrima", Ebrima;
    font-size: 17px;
    float: left;
    background-color: transparent;
    border: 0px;
    margin: 0 5%;
    padding: 0.5%;
}

button:hover {
    color: white;
    background-color: rgb(54, 159, 33);
}

.underline {
    position: relative;
    display: inline-block;
}

.underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #007bff;
}

#banner {
    border-radius: 20px;
    background:url(../images/leighisbannerbg.gif) no-repeat 0 0; 
    margin: 5 px;
    font-family: "Ebrima", Ebrima;
    padding-bottom: 20px;
}

#content {
    background:url(../images/leighiscontentbg.png);
    margin: 5px;
    border-radius: 20px;
    padding: 2px;
}

#menu{
    display: none;
    font-size: 30px;
    text-align: center;
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 20px;
    left: 20px;
}

@media screen and (max-width: 1201px) {
  #banner{
    height: 115px;
  }
  #menu{
    display:block;
  }
  button{
    text-align: left;
    margin: 15px;
  }
  #header_buttons{
    display:none;
    position: absolute;
    width: 125px;
    padding: 20px;
    top: 75px;
    background-color: rgb(186, 221, 191);
  }
  #menu:hover ~ #header_buttons{
    display:block;
  }
  #header_buttons:hover{
    display:block;
  }
}