h1 {
    text-align: center;
    font-family: "Ebrima", Ebrima;
    color: white;
}

p {
    text-align: center;
    font-family: "Ebrima", Ebrima;
    font-weight: normal;
    color: white;
}

title {
    text-align: center;
    font-family: "Ebrima", Ebrima;
    color: white;
}

hr {
    border: none;
    height: 2px;
    background-color: black;
    margin: 10px auto;
}

a {
    text-decoration: none;
    color: black;
}

.logo img {
   max-width: 20px;
    max-height: 20px;
}
.header_menu{
    text-align: center;
}

.dropdown-content{
    display: none;
    padding: 5px 0px;
    position: absolute;
    left: 21.43%;
    top: 16.8%;
    background-color: rgb(40, 172, 208);
}

.dropdown:hover .dropdown-content{
  display: block;
}

button {
    display: inline-block;
    float: left;
    background-color: transparent;
    border: 0px;
    margin: 0 5%;
    padding: 0.5%;
}

button:hover {
    color: white;
    background-color: rgb(33, 113, 159);
}



.underline {
    position: relative;
    display: inline-block;
}

.underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #007bff;
}

#banner {
    border-radius: 20px;
    background:url(../images/leighisbannerbg.gif) no-repeat 0 0; 
    margin: 5 px;
    font-family: "Ebrima", Ebrima;
}

#content {
    background:url(../images/leighiscontentbg.png);
    margin: 5px;
    border-radius: 20px;
    padding: 2px;
}
