h1 {
    text-align: center;
}

p {
    text-align: center;
}

hr {
    border: none;
    height: 2px;
    background-color: black;
    margin: 10px auto;
}

a {
  text-decoration: none;
  color: black;
}

.header_menu{
  text-align: center;
}

button {
  display: inline-block;
  background-color: rgb(40, 172, 208);
  border: 0px;
  margin: 0 5%;
  padding: 0.5%;
}

button:hover {
  color: white;
  background-color: rgb(33, 113, 159);
}

.underline {
  position: relative;
  display: inline-block;
}

.underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #007bff;
}

#banner {
    height: 100px;
  background:url(/images/Background.jpg) no-repeat;
}
