h1 {
    text-align: center;
}

p {
    text-align: center;
}

hr {
    border: none;
    height: 2px;
    background-color: black;
    margin: 20px auto;
}

.header_menu {
  display: block;
  margin: 0 auto;
}
