h1 {
    text-align: center;
}

p {
    text-align: center;
}

hr {
    border: none;
    height: 2px;
    background-color: black;
    margin: 10px auto;
}

.header_menu{
  text-align: center;
}
button {
  display: inline-block;
  margin: 0 100px;
}
