h1 {
    text-align: center;
    font-family: "Ebrima", Ebrima;
    color: rgb(0, 0, 0);
}

p {
    text-align: center;
    font-family: "Ebrima", Ebrima;
    font-weight: normal;
    color: white;
}

title {
    text-align: center;
    font-family: "Ebrima", Ebrima;
    color: white;
}

hr {
    border: none;
    height: 2px;
    background-color: black;
    margin: 10px auto;
}

a {
    text-decoration: none;
    color: black;
}

.responsive {
   width: 10%;
    height: auto;
}
.header_menu{
    text-align: center;
}

.dropdown {
    position: relative;   
    display: inline-block;
    padding: 5px 5%;
}

.dropdown-content{
    display: none;
    padding: 5px 0px;
    margin: 0px 40%;
    width: 100px;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 9999;
    background-color: rgb(40, 172, 208);
}

.dropdown:hover .dropdown-content{
  display: block;
}

button {
    display: inline-block;
    float: left;
    background-color: transparent;
    border: 0px;
    margin: 0 5%;
    padding: 0.5%;
}

button:hover {
    color: white;
    background-color: rgb(33, 113, 159);
}


.underline {
    position: relative;
    display: inline-block;
}

.underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #007bff;
}

#banner {
    border-radius: 20px;
    background:url(../images/leighisbannerbg.gif) no-repeat 0 0; 
    margin: 5 px;
    font-family: "Ebrima", Ebrima;
    padding-bottom: 20px;
}

#content {
    background:url(../images/leighiscontentbg.png);
    margin: 5px;
    border-radius: 20px;
    padding: 2px;
}

.recipes-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.recipe-card {
    background-color: #0e5977;
    width: 350px;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.image-box {
    width: 100%;
    height: 220px;
    background: white;
    margin-bottom: 20px;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
}

.image-box img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0;
}

.sub-header {
    margin: 10px 0 20px 0;
}

.info {
    text-align: left;
    font-size: 18px;
    margin-left: 10px;
}


