h1 {
    text-align: center;
}

p {
    text-align: center;
}

hr {
    border: none;
    height: 2px;
    background-color: black;
    margin: 10px auto;
}

a {
    text-decoration: none;
    color: black;
}

.header_menu{
    text-align: center;
}

button {
    display: inline-block;
    background-color: rgb(40, 172, 208);
    border: 0px;
    margin: 0 5%;
    padding: 0.5%;
}

button:hover {
    color: white;
    background-color: rgb(33, 113, 159);
}

.underline {
    position: relative;
    display: inline-block;
}

.underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #007bff;
}

#banner {
    height: 107px;
    background:url(../images/Background.jpeg) repeat-x;
}

#content {
    background:
}

.recipes-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.recipe-card {
    background-color: #0e5977;   /* dark teal like screenshot */
    width: 350px;
    padding: 20px;
    border: 2px solid black;
    text-align: center;
}

.image-box {
    width: 100%;
    height: 220px;
    background: white;
    border: 2px solid black;
    margin-bottom: 20px;
}

.sub-header {
    margin: 10px 0 20px 0;
}

.info {
    text-align: left;
    font-size: 18px;
    margin-left: 10px;
}
