h1 {
    text-align: center;
    font-family: "Ebrima", Ebrima;
    color: rgb(0, 0, 0);
}

p {
    text-align: center;
    font-family: "Ebrima", Ebrima;
    font-weight: normal;
    color: white;
}

title {
    text-align: center;
    font-family: "Ebrima", Ebrima;
    color: white;
}

hr {
    border: none;
    height: 2px;
    background-color: black;
    margin: 10px auto;
}

a {
    text-decoration: none;
    color: black;
}

.responsive {
   width: 10%;
    height: auto;
}
.header_menu{
    text-align: center;
}

.dropdown {
    position: relative;   
    display: inline-block;
    padding: 5px 5%;
}

.dropdown-content{
    display: none;
    padding: 5px 0px;
    margin: 0px 40%;
    width: 100px;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 9999;
    background-color: rgb(130, 186, 138);
}

.dropdown:hover .dropdown-content{
  display: block;
}

button {
    display: inline-block;
    font-family: "Ebrima", Ebrima;
    font-size: 17px;
    float: left;
    background-color: transparent;
    border: 0px;
    margin: 0 5%;
    padding: 0.5%;
}

button:hover {
    color: white;
    background-color: rgb(54, 159, 33);
}



.underline {
    position: relative;
    display: inline-block;
}

.underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #007bff;
}

#banner {
    border-radius: 20px;
    background:url(../images/leighisbannerbg.gif) no-repeat 0 0; 
    margin: 5 px;
    font-family: "Ebrima", Ebrima;
    padding-bottom: 20px;
}

#content {
    background:url(../images/leighiscontentbg.png);
    margin: 5px;
    border-radius: 20px;
    padding: 2px;
}


.content-box {
    width:84%;          
    height: 80%;       
    background-color: rgb(82, 144, 69);
    border-radius: 30px;
    border-style: solid;
    border-color:rgb(42, 81, 34);
    border-width: 10px;
    margin: 0% 3% auto;  
    color:white;   
    display:flex; 
    padding: 5%;
    justify-content: center;
    align-items: center;
    font-size: 20px; 
}